<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Checker</title>
    <!-- Include Tailwind CSS via CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-green-300">
    <!-- Nav bar -->
    <nav class="bg-black p-6 text-green-300 text-4xl flex justify-center">
      <div class=" ">
        <h1>Password Checker</h1>
      </div>
    </nav>

    <div>
      <div>
        <!-- Introduction Section -->
        <div></div>

        <!-- Password Input Section -->
        <div></div>

        <!-- Feedback Section -->
        <div></div>
      </div>
    </div>
  </body>
</html>
