<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Checker</title>
    <!-- Include Tailwind CSS via CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-green-600">
    <!-- Nav bar -->
    <nav class="flex justify-center bg-black p-4 text-green-500 text-5xl">
      <div>
        <h1 class="font-mono text-center" style="text-shadow: 1px 1px 4px">
          Password Checker
        </h1>
      </div>
    </nav>

    <div class="flex-grow mx-auto mt-10 sm:px-4">
      <div
        class="text-green-500 max-w-2xl mx-auto bg-black p-5 rounded-lg transform hover:scale-105"
        style="text-shadow: 1px 1px 4px"
      >
        <!-- Introduction Section -->
        <div>
          <h2 class="font-mono text-center text-3xl shadow-text">Welcome!</h2>
          <p class="text-green-500 font-mono text-xl p-2">
            Enter your password below, ensuring that it meets the following
            criteria:
          </p>
          <ul class="text-yellow-200 font-mono text-1xl pl-8 list-disc">
            <li>Minimum of 8 characters</li>
            <li>
              Composition of upper- and lowercase letters, numbers and symbols
            </li>
            <li>
              Absence of common patterns, such as 'password', '123abc',
              'iloveyou', and so on.
            </li>
          </ul>
        </div>

        <!-- Password Input Section -->
        <style>
          /* Custom CSS rule for placeholder text color */
          #password::placeholder {
            font-family: monospace;
            font-weight: bold;
            font-size: 1rem;
            padding: 5px;
            color: #166534;
          }

          ul {
            color: #6495ed;
          }
        </style>
        <div class="text-green-500 p-2">
          <h2 class="font-mono text-xl">Password Input Field</h2>
          <form
            method="post"
            action="{% url 'check_password' %}"
            onsubmit="checkPasswordStrength(event)"
            class="flex flex-wrap items-center"
          >
            <!-- Add token to prevent CSRF attacks -->
            {% csrf_token %}
            <input
              type="password"
              id="password"
              name="password"
              class="text-green-800 text-xl bg-green-300 bg-opacity-75 rounded-l-md p-1 mt-3 md:w-auto flex-grow"
              placeholder="Enter a password..."
              required
            />
            <button
              id="check-strength"
              type="submit"
              class="font-medium font-mono border-2 border-green-300 p-1 ml-2 mt-3 transform hover:bg-green-800"
              style="text-shadow: 1px 1px 5px"
            >
              Check Strength
            </button>
            <button
              id="reveal-password"
              type="button"
              class="font-medium font-mono border-2 border-green-300 rounded-r-md p-1 ml-2 mt-3 transform hover:bg-green-800"
              style="text-shadow: 1px 1px 5px"
              onclick="togglePasswordVisibility()"
            >
              Reveal Password
            </button>
          </form>
        </div>

        <!-- Feedback Section -->
        <div id="feedback-section" class="font-mono p-2 hidden">
          <h2 class="text-xl">Results</h2>
          <div
            id="password-strength"
            class="border-2 border-green-300 text-red-500 p-2"
          ></div>
        </div>

        <!-- Resource Section -->
        <div class="font-mono p-2">
          <h2 class="text-xl">Resources</h2>
          <p class="text-green-500">
            Explore these articles to find out how you can create strong
            passwords and why it's critically important for you to do so.
          </p>
          <ul class="pl-6 list-disc">
            <li>
              <a
                href="https://jetpack.com/blog/weak-passwords/#:~:text=Weak%20passwords%20can%20lead%20to,immediate%20and%20devastating%20financial%20implications."
                >How Weak Passwords Expose You to Serious Security Risks</a
              >
            </li>
            <li>
              <a
                href="https://www.waldenu.edu/programs/information-technology/resource/cybersecurity-101-why-choosing-a-secure-password-in-so-important"
                >Cybersecurity 101: Why Choosing a Secure Password Is So
                Important</a
              >
            </li>
            <li>
              <a
                href="https://www.kaspersky.com/resource-center/threats/how-to-create-a-strong-password"
                >Tips for Generating Strong and Unique Passwords</a
              >
            </li>
            <li>
              <a
                href="https://www.techrepublic.com/article/how-weak-passwords-could-put-your-organization-at-risk/"
                >How weak passwords could put your organization at risk</a
              >
            </li>
            <li>
              <a href="https://www.nopsec.com/blog/weak-passwords-exploit/"
                >How Hackers Exploit Weak Password Vulnerabilities</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script>
      function togglePasswordVisibility() {
        let passwordField = document.getElementById("password");
        if (passwordField.type === "password") {
          passwordField.type = "text";
        } else {
          passwordField.type = "password";
        }
      }

      function updatePasswordStrength(strength) {
        let feedbackSection = document.getElementById("feedback-section");
        let passwordStrengthElement =
          document.getElementById("password-strength");

        switch (strength) {
          case "Weak":
            feedbackSection.classList.remove("hidden");
            passwordStrengthElement.textContent = "Password strength: Weak";
            passwordStrengthElement.style.color = "#EE4B2B";
            break;
          case "Medium":
            feedbackSection.classList.remove("hidden");
            passwordStrengthElement.textContent = "Password strength: Medium";
            passwordStrengthElement.style.color = "orange";
            break;
          case "Strong":
            feedbackSection.classList.remove("hidden");
            passwordStrengthElement.textContent = "Password strength: Strong";
            passwordStrengthElement.style.color = "#48BB78";
            break;
          default:
            feedbackSection.classList.add("hidden");
            passwordStrengthElement.textContent = "";
            break;
        }
      }

      function checkPasswordStrength(event) {
        /* Prevent form submission */
        event.preventDefault();
        let password = document.getElementById("password").value;
        fetch("/check-password/", {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            "X-CSRFToken": getCookie("csrftoken"),
            "X-Requested-With": "XMLHttpRequest",
          },
          body: "password=" + encodeURIComponent(password),
        })
          .then((response) => {
            if (!response.ok) {
              throw new Error("Network response did not function as expected");
            }
            return response.json();
          })
          .then((data) => {
            // Show the feedback section
            updatePasswordStrength(data.strength);
          })
          .catch((error) => console.error("Error:", error));
      }

      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          let cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            let cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }
    </script>
  </body>
</html>
